@charset "UTF-8";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $oColor1;
  display: none;
}

.pop-container {
  display: table;
  width: 100%;
  height: 100%;
}

.pop-box {
  display: table-cell;
  vertical-align: middle;
}

.pop-body {
  background: $gColor2;
  border: 1px solid $gColor1;
  padding: rem(32) rem(40) rem(40);
  margin: 0 auto;

  h1 {
    font-size: rem(20);
  }
}

.pw-check-pop {
  .pop-body {
    width: 92%;
    max-width: rem(500);
  }

  .rows {
    position: relative;
    margin-top: rem(16);

    input {
      width: 100%;
    }

    .check {
      margin-top: rem(3);
      color: $color1;
    }
  }

  .btn {
    margin: 0 rem(4);
  }

  .btn-grp {
    margin-top: rem(34);
  }
}
