@mixin desktop {
  @media (min-width: 992px) { @content; }
}
@mixin tablet-desktop {
  @media (max-width: 991px) { @content; }
}
@mixin tablet-better {
  @media (min-width: 768px) { @content; }
}
@mixin tablet {
  @media (max-width: 767px) { @content; }
}
@mixin tablet-mobile {
  @media (min-width: 481px) and (max-width: 580px) { @content; }
}
@mixin mobile {
  @media (max-width: 480px) { @content; }
}

@mixin ieAll {
  @media all and (min-width:0\0) and (min-resolution:.001dpcm) {
    @content;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
@mixin ie9 {
  @media all and (min-width:0\0) and (min-resolution:.001dpcm) {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin bar {
  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background: $gColor1;
    @content;
  }
}
@mixin inner ($width:true) {
  position: relative;
  margin: 0 auto;
  padding: 0 em(32);
  @if $width {
    max-width: $contentWidth;
  } @else {
    max-width: $maxWidth;
  }

  @include tablet-desktop {
    padding: 0 em(16);
  }

  @content;
}
