@charset "UTF-8";


#contents.about {}
.about-area {
  @include inner;
  margin-bottom: em(100);
  h4 {
    font-size: em(18);
    color: $gColor3;
    text-align: center;
  }
  @include tablet-desktop {
    h4 {
      font-size: em(16);
      br {
        display: none;
      }
    }
  }
  @include tablet {
    margin-bottom: em(50);
  }
}


/* 원장 인사말 */
.greetings {
  .text1 {
    margin: em(35) 0 em(25);
    strong {
      font-size: em(24);
      font-weight: 400;
    }
    @include bar {
      margin-top: em(25);
    }
  }
  .text2 {
    max-width: 800px;
    font-size: em(18);
    color: $gColor3;
  }
  @include tablet-desktop {
    .text2 {
      max-width: 750px;
    }
  }
}


/* 의료진 소개 */
.staff-detail {
  dl {
    overflow: hidden;
    &:nth-of-type(odd) {
      dt {float: left;}
      dd {float: right;}
    }
    &:nth-of-type(even) {
      dt {float: right;}
      dd {float: left;}
    }
    & + dl {
      padding-top: em(100);
      border-top: 1px solid $gColor9;
      margin-top: em(90);
    }
  }
  dt, dd {
    width: 50%;
  }
  dt {
    text-align: center;
  }
  dd {
    padding: em(32) 0 0 4%;
    strong {
      font-size: em(24);
      font-weight: 400;
    }
    > p {
      @include bar {
        margin: em(20) 0 em(18);
      }
    }
    > div {
      padding: em(7) 0 em(16);
      em {
        display: block;
        font-weight: 500;
        margin-bottom: em(7);
      }
    }
    li {
      margin-top: em(7);
      color: $gColor3;
      padding-left: em(13);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: em(10);
        width: em(4);
        height: em(4);
        border-radius: 100%;
        background: $gColor3;
      }
    }
  }
  img {
    width: 75%;
    max-width: 380px;
  }
  @include tablet {
    dl {
      & + dl {
        margin-top: em(40);
        padding-top: em(50);
      }
    }
    dt, dd {
      float: none !important;
      width: 100%;
    }
    img {
      max-width: 240px;
    }
  }
}


/* 시설안내 */
.facility-building {
  position: relative;
  overflow: hidden;
  .flex {
    display: flex;
    align-items: center;
    padding: em(16) em(32) em(16) 0;
    strong {
      flex-shrink: 0;
      text-align: center;
      width: em(80, 22);
      font-size: em(22);
    }
  }
  &-title {
    padding: em(14) em(30);
    p {
      display: inline-block;
      @include bar {
        margin: em(14) 0 0 em(2);
      }
    }
    strong {
      font-size: em(22);
    }
    &.point p {
      color: $color1;
      &:after {
        background: $color1;
      }
    }
  }
  @include desktop {
    margin-top: em(96);
    &-title {
      width: calc((100% - 656px) / 2);
      position: absolute;
      top: 0;
      right: 0;
      &.point {
        left: 0;
        right: initial;
        text-align: right;
      }
    }
  }
  @include tablet-desktop {
    margin-top: em(48);
    &-title {
      padding: 0 em(10) em(14);
    }
  }

  /* pc */
  table {
    table-layout: fixed;
    width: 100%;
    max-width: 656px;
    margin: 0 auto;
  }
  tr {
    position: relative;
  }
  td {
    min-height: 64px;
    border: 1px solid $gColor8;
    position: relative;
  }
  .floor-line {
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      margin-left: -328px;
      width: 1010px;
      height: 1px;
      background: $gColor1;
    }
  }
  .border-right-none {
    border-right-width: 0;
  }
  .border-bottom-none {
    border-bottom-width: 0;
  }

  /* mo */
  dl {
    position: relative;
    & + dl {
      margin-top: em(30);
    }
  }
  dt {
    padding: 0 0 em(14);
  }
  dd {
    border: 1px solid $gColor8;
    & + dd {
      margin-top: -1px;
    }
  }
}
.facility-slider {
  margin-top: em(60);
  position: relative;
  .item {
    position: relative;
    p {
      width: 22%;
      min-width: 120px;
      max-width: 220px;
      color: $gColor2;
      position: absolute;
      background: $oColor6;
      white-space: nowrap;
    }
    em {
      display: block;
      opacity: 0.6;
    }
    span {
      font-weight: 300;
    }
  }
  hr {
    position: relative;
    display: inline-block;
    border: solid $gColor2;
    border-width: 1px 0 0;
    width: em(60);
    top: em(-5);
    margin: 0 em(10);
  }
  .btn-pn {
    position: absolute;
    bottom: em(10);
    width: em(40);
    padding: em(11) 0 em(9);
    line-height: 1;
    text-align: center;
    border-radius: 100%;
    background: $gColor2;
    opacity: 0.8;
    .fas {
      font-size: em(20);
      width: em(20, 20);
      height: em(20, 20);
      color: $gColor1;
    }
    &.prev {
      left: em(10);
      padding-right: em(2);
    }
    &.next {
      right: em(10);
      padding-left: em(2);
    }
  }
  @include tablet-better {
    .item {
      p {padding: em(16);}
      span {font-size: em(20);}
    }
  }
  @include tablet {
    .item {
      p {padding: em(12);}
      span {font-size: em(16);}
    }
  }
}


/* 오시는 길 */
.location {
  .map {
    height: 332px;
    background: $gColor8;
  }
  li, .address {
    padding: em(25) em(30) em(23);
  }
  .address {
    color: $gColor2;
    background: $color1;
    em {
      display: block;
      font-weight: 300;
    }
    strong {
      font-size: em(22);
      font-weight: 400;
    }
  }
  li {
    border-bottom: 1px solid $gColor9;
    strong {
      font-size: em(18);
    }
    p {
      margin-top: em(12);
      color: $gColor3;
    }
  }
  .root_daum_roughmap {
    padding: 0;
    height: 100%;
  }
  @include tablet {
    li, .address {
      padding: em(15) em(16) em(13);
    }
    .address {
      strong {
        font-size: em(18);
      }
    }
    li {
      p {
        margin-top: em(6);
      }
    }
  }
}


/* 진료과목 */
.medical-subject {
  .medical-thum {
    margin-bottom: em(54);
  }
  h5 {
    margin-bottom: em(30);
    span {
      font-size: em(24);
    }
    @include bar {
      margin-top: em(18);
    }
  }
  ul {
    border-top: 1px solid $gColor1;
  }
  li {
    position: relative;
    margin-top: em(26);
    padding-bottom: em(38);
    border-bottom: 1px solid $gColor8;
    @include clearfix;
    strong {
      display: block;
      font-size: em(20);
    }
    p {
      color: $gColor3;
      font-size: em(14);
      margin-top: em(4,14);
    }
    div {
      padding-left: 124px;
    }
    .thum {
      float: left;
      margin: em(4) 0 0 30px;
    }
    .num {
      font-size: em(12);
    }
  }
  @include tablet {
    li {
      margin-top: em(20);
      padding-bottom: em(24);
      div {
        padding-left: 84px;
      }
      .thum {
        margin-left: 0;
      }
    }
  }
}
.medical-subject-time {
  background: $gColor11;
  > div {
    @include inner;
    overflow: hidden;
  }
  h4 {
    margin-bottom: 0;
  }
  .time-by-subject {
    overflow: hidden;
  }
  .time {
    margin: em(25) 0 em(15) em(-32);
    overflow: hidden;
    li {
      float: left;
      white-space: nowrap;
      padding-right: em(75);
      padding-left: em(32);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        left: 0;
        top: em(4);
        bottom: em(12);
        background: $gColor9;
      }
    }
    p {
      margin-bottom: em(9);
    }
    span {
      margin-right: em(35);
    }
    em {
      float: right;
      padding-right: 3px;
      letter-spacing: 0;
    }
  }
  .note {
    font-size: em(14);
    color: $gColor3;
    li {
      padding-left: em(12);
      position: relative;
    }
    li:before {
      content: '-';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .btn + .btn {
    margin-top: em(10);
  }
  @include tablet-better {
    > div {
      padding-top: em(73);
      padding-bottom: em(106);
    }
    .time-by-subject {
      float: left;
    }
    .btn-grp {
      float: right;
      width: 176px;
    }
    .btn {
      display: block;
    }
  }
  @include tablet {
    > div {
      padding-top: em(30);
      padding-bottom: em(40);
    }
  }
  @include mobile {
    .btn {
      display: block;
    }
    .time {
      li {
        padding-right: 0;
      }
    }
  }
}


/* 비급여 진료항목 */
.unpaid-medical {
  &-area {
    @include inner;
    overflow: hidden;
  }
  &-col {
    float: left;
    width: 50%;
    padding: 0 em(17) em(60);
    dl {
      margin-top: 40px;
      line-height: 40px;
    }
    dt {
      border: solid $gColor1;
      border-width: 2px 0 1px;
      text-align: center;
      font-weight: 500;
    }
    dd {
      font-size: em(14);
      border-bottom: 1px solid $gColor8;
      display: flex;
      padding: 0 em(16, 14);
      justify-content: space-between;
      white-space: nowrap;
    }
    strong {
      width: 60%;
      border-right: 1px solid $gColor8;
    }
    span {
      color: $gColor3;
    }
  }
  @include tablet {
    &-col {
      float: none;
      width: 100%;
    }
  }
}
