@charset "UTF-8";


#contents.description {}

.description-tab {
  @include inner;
  .tabs {
    margin-bottom: 0;
  }
}

.description-detail {
  .inner {
    max-width: $contentWidth;
    padding: em(72) em(40);
    &.type1 {
      padding-top: em(36);
    }
  }
  article:nth-of-type(even) {
    background: $gColor10;
  }
  h3 + & {
    margin-top: em(-30);
  }
  h4 {
    margin-bottom: em(32);
    strong {
      font-size: em(24);
      font-weight: 400;
    }
    @include bar {
      margin-top: em(20);
    }
  }
  @include tablet {
    .inner {
      padding: em(36) em(20);
    }
    h4 {
      strong {
        font-size: em(20);
      }
      &:after {
        margin-top: em(12);
      }
    }
  }
}

.depict-grp, .figure-round, .figure-square {
  line-height: 1.6;
  h5 {
    font-size: em(18);
    margin-top: em(50,18);
    &:first-child {
      margin-top: 0;
    }
  }
  hr {border: none; margin: 0; height: em(22);}
  ul hr {height: em(11);}
  .note {font-size: em(14); color: $gColor3;
    p + p {margin-top: 0;}
  }
  .remark,
  .whence {margin-top: em(11);font-size: em(14); color: $gColor3;}
  .whence {text-align: right;}

  .mt10 {display: block; margin-top: em(10) !important;}
  .mt20 {display: block; margin-top: em(20) !important;}
  .mt30 {display: block; margin-top: em(30) !important;}
  .mb10 {display: block; margin-bottom: em(10) !important;}
  .mb20 {display: block; margin-bottom: em(20) !important;}
  .mb30 {display: block; margin-bottom: em(30) !important;}
}

.depict-grp {
  h5, dl, > p, .rex-top {
    & + ul {
      border-top: 1px solid $gColor9;
      padding-top: em(32);
      margin-top: em(36);
    }
  }

  > p {color: $gColor3;
    & + p {margin-top: em(11);}
  }
  > dl {
    > dt {font-size: em(18); color: $gColor1;}
    > dd {
      color: $gColor3; margin: em(11) 0;
      strong {color: $gColor1;}
      &:last-child {margin-bottom: 0;}
      &.catalog.small {margin-top: em(32);}
    }
  }
  > ul {
    > li {
      border-bottom: 1px solid $gColor9;
      padding-left: em(42);
      position: relative;
      padding-bottom: em(32);
      margin-bottom: em(32);
      color: $gColor3;
      &:last-child {margin-bottom: 0 !important;}
      em {display: block; font-size: em(18); color: $gColor1;
        span {position: absolute; top: 0; left: 0;}
      }
      em + p {margin-top: em(11);}
      p + p {margin-top: em(11);}
      p + div {margin-top: em(11);}
    }
  }
  > ol {
    > li {
      position: relative;
      font-size: em(18);
      padding-left: em(28);
      & + li {
        margin-top: em(8,18);
      }
    }
    span {
      position: absolute;
      top: 0; left: 0;
    }
  }

  .btn-grp {text-align: left;}
  .rex-top {margin-bottom: em(11);}
  .catalog {
    color: $gColor3;
    em {color: $gColor1;
      & + div {margin: em(11) 0 em(20) !important;}
      & + p {margin-top: em(11) !important;}
    }
    > p {
      position: relative; padding-left: em(12); margin-top: 0 !important;
      &:before { content: '-'; position: absolute; top: 0; left: 0;}
    }
    > p + div {margin-top: em(11) !important;}
    &.small {
      > p, > span {font-size: em(14);}
    }
    &.num-type {
      p {padding-left: em(20);}
      p:before {display: none;}
      p > span {position: absolute; top: 0; left: 0;}
    }
  }
  .toggles & {
    .rex-top {font-size: em(16);}
    .rex-top + .catalog {margin-top: em(11);}
    dl dt {font-size: em(16);}
    ul {
      li {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: em(20);
        &:last-child {padding-bottom: 0;}
      }
    }
  }

  & + .toggles {margin-top: em(36);}
  & + .figure-round {margin-top: em(30);}
  .figure-round + & {
    border-top: 1px solid $gColor9;
    padding-top: em(32);
    margin-top: em(36);
  }

  @include tablet {
    h5, dl, .rex-top {
      & + ul {
        padding-top: em(16);
        margin-top: em(18);
      }
    }
    > ul {
      > li {
        padding-left: em(30);
        padding-bottom: em(16);
        margin-bottom: em(16);
      }
    }
  }
}

.figure-round {
  h4 + & {margin-top: em(-14);}
  > p + ul {margin-top: 0;}
  &:first-child ul {margin-top: em(-14);}

  ul {
    margin: em(26) em(-10) 0;
    text-align: left;
    overflow: hidden;
  }
  li {
    float: left;
    width: 20%;
    max-width: 204px;
    vertical-align: top;
    margin-top: em(14);
    padding: 0 em(10);
    text-align: center;
  }
  .col6 li {
    width: 16.6%;
  }
  .col3 li {
    width: 33%;
  }
  .round {
    padding-top: 100%;
    position: relative;
  }
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 100%;
    div {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
    }
    span {
      display: table-cell;
      vertical-align: middle;
      font-size: em(18);
    }
  }
  .text {
    color: $gColor3;
    margin: 0 em(-10);
    &:before {
      content: '';
      display: block;
      margin: 0 auto em(5);
      width: 1px;
      height: em(30);
    }
  }

  &.ty1 {
    .box {color: $color1;}
    li:nth-of-type(odd) {
      .box {border-color: $color1;}
      .text:before {background: $color1;}
    }
    li:nth-of-type(even) {
      .box {border-color: $color3;}
      .text:before {background: $color3;}
    }
  }
  &.ty2 {
    .box {color: $color5;}
    li:nth-of-type(odd) {
      .box {border-color: $color5;}
      .text:before {background: $color5;}
    }
    li:nth-of-type(even) {
      .box {border-color: $color6;}
      .text:before {background: $color6;}
    }
  }
  & + .figure-round {
    margin-top: em(40);
  }

  @include tablet-desktop {
    .text {font-size: em(14);}
    .box span {font-size: em(14);}
    .col4 li {width: 25%;}
  }
  @media (max-width: 700px) {
    .col5 li {width: 33%;}
  }
  @media (max-width: 620px) {
    .col6 li {width: 33%;}
  }
  @include mobile {
    .col4 li {width: 50%;}
  }
}

.figure-square {
  color: $gColor3;
  ol {
    margin-top: em(13);
    padding: 1px 0 0 1px;
    overflow: hidden;
  }
  li {
    float: left;
    text-align: center;
    border: 1px solid $gColor8;
    margin: -1px 0 0 -1px;
    padding: em(16) em(5);
    background: $gColor2;
    @include ellipsis;
  }
  .col5 li {width: 20%;}
  .col4 li {width: 25%;}
  @include tablet {
    .col5 li {width: 50%;}
    .col4 li {width: 50%;}
  }
}

.de-table {
  margin-top: em(15);
  overflow-y: auto;
  margin-right: -1px;
  table {
    border-top: 2px solid $gColor1;
    table-layout: fixed;
    width: 100%;
    margin-left: -1px;
  }
  thead {
    th {border-bottom: 1px solid $gColor1;}
  }
  tbody {
    th, td {font-size: em(14);}
  }
  td, th {
    text-align: center;
    vertical-align: middle;
    border: solid $gColor8;
    border-width: 0 0 1px 1px;
    padding: em(7,14) em(10, 14) em(7,14);
    &.bg1 {background: $color1; color: $gColor2;}
    &.bg2 {background: $color7; color: $color1;}
    &.bg3 {background: $gColor12;}
  }
  tr.line1 {
    th, td {border-bottom-color: $gColor1;}
  }
  td {color: $gColor3;}
  .top {vertical-align: top;}

  .care-tb1 {min-width: 540px;}
  .care-tb2 {min-width: 640px;}

  .pre-tb1 {min-width: 640px;}

  .medical-tb1 {min-width: 640px;}
  .medical-tb2 {min-width: 767px; table-layout: inherit;
    th, td {
      font-size: em(14);
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.de-list {
  font-size: em(14);
  margin-top: em(30,14);
  dl {margin-top: em(7, 14);}
  dt, dd {position: relative; padding-left: em(30, 14);}
  dt {
    margin-top: em(32, 14); color: $gColor1;
    > span {position: absolute; top: 0; left: 0;}
    &:first-child {margin-top: 0;}
  }
  dd {margin-top: em(7, 14);}
}

.thum-list {
  margin: em(11) 0; overflow: hidden;
  ul {margin: 0 em(-5);}
  li {float: left; padding: em(5); line-height: 1;}
  img {width: 100%;}
  .col5 li {width: 20%;}
  .col4 li {width: 25%;}
  .col3 li {width: 33.3%;}
  @include tablet {
    .col5 li {width: 25%;}
  }
  @include mobile {
    .col5 li {width: 50%;}
    .col4 li {width: 50%;}
    .col3 li {width: 50%;}
  }
}

/* 피부 */
.dermatology-tb {
  margin-top: em(11);
  display: inline-block;
  color: $gColor3;
  p, i {
    display: inline-block;
    vertical-align: middle;
  }
  i {margin: 0 em(30);}
  @include mobile {
    display: block;
    p, i {display: block;}
    i {text-align: center;}
  }
}

/* 내과 */
.medical-qa {
  border: 1px solid $gColor5;
  padding: em(26) em(30);
  margin-top: em(36);
  dt, dd {
    padding-left: em(30);
    position: relative;
  }
  p > span {
    position: absolute;
    top: 0; left: 0;
  }
  div {font-size: em(14); color: $gColor3;}
  dt p {color: $color1;}
  dd p {color: $gColor1; margin-top: em(4);}
  dd {margin-top: em(11);}
}
