@charset "UTF-8";

#contents.main {
  max-width: 100%;
}

/* 비주얼*/
.visual-slick-sec {
  position: relative;
  > img {
    max-width: $maxWidth;
    width: 100%;
  }
  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slick-list, .slick-track,
  .slick-slide,
  .slick-slide > div,
  .slick-slide > div > div {
    height: 100%;
    background: 50% no-repeat;
    background-size: auto 100%;
  }
  .bar, .customer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: rem(80);
  }
  .bar {
    left: 50%;
    background: $color2;
  }
  .customer {
    left: 0;
    ul {
      display: table;
      max-width: 1216px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      background: $color2;
    }
    li {
      display: table-cell;
      height: 100%;
      text-align: left;
      cursor: pointer;
      color: $gColor2;
      vertical-align: middle;
      &:nth-of-type(even) {
        border-left: 1px solid $oColor5;
      }
    }
    span, i {color: $gColor2;}
    span {font-size: rem(18); vertical-align: middle;}
    i {font-size: rem(24);}
    a {
      display: block;
      position: relative;
      padding: 0 rem(32);
      &:before, &:after {
        content: '';
        display: inline-block;
        background: 50% no-repeat;
        background-size: contain;
        vertical-align: middle;
      }
      &:before {
        width: rem(40);
        height: rem(40);
        margin-right: rem(16);
      }
      &:after {
        position: absolute;
        right: rem(32);
        top: 0;
        bottom: 0;
        width: rem(10);
        background-image: url('../../asset/images/main/visual_arrow.png');
      }
    }
    .icon1 a:before {background-image: url('../../asset/images/main/visual_icon1.png');}
    .icon1 a:after {display: none;}
    .icon2 a:before {background-image: url('../../asset/images/main/visual_icon2.png');}
    .icon3 a:before {background-image: url('../../asset/images/main/visual_icon3.png');}
    .btn-pn {
      text-align: center;
      width: rem(80);
      background: $color1;
      &.next {
        border-left: 1px solid $color2;
      }
    }
  }
  @include desktop {
    .customer {
      .icon2 {width: 30%;}
    }
  }
  @include tablet-desktop {
    margin-bottom: rem(50);
    .bar {display: none;}
    .customer {
      height: rem(50);
      span, i {font-size: rem(16);}
      a {
        padding: 0 rem(12);
        &:before {
          width: rem(30);
          height: rem(30);
          margin-right: rem(8);
        }
        &:after {
          right: rem(12);
          width: rem(8);
        }
      }
      .btn-pn {
        width: rem(50);
      }
    }
  }
}

/* 공통 */
.company-info-sec, .category-info-sec {@extend .inner;}
.company-info-sec, .category-info-sec, .etc-category-sec {
  margin-top: rem(100);
  @include tablet-desktop {
    margin-top: rem(50);
  }
}

/* 이용안내 */
.company-info-sec {
  > div {position: relative;}
  .message {
    .txt1 {font-size: rem(24);}
    .txt2 {color: $gColor3; margin-top: rem(15);}
  }
  @include desktop {
    > div {margin: 0 rem(-16);}
    .message {position: absolute; top: 0; right: 0; width: 50%; padding: 0 rem(22) rem(5) rem(32);}
  }
  @include tablet-desktop {
    > div {margin: 0 rem(-8);}
    .message {display: none;}
  }
}
.hospital-and-doctor {
  ul {@include clearfix;}
  li {float: left; width: 50%; padding: 0 rem(16);}
  img {width: 100%;}
  a {display: block; position: relative; border: 1px solid $gColor5; @include clearfix;}
  span {
    display: block;
    padding: rem(19) rem(22) rem(25);
    &:before {
      content: '';
      position: absolute;
      right: rem(16);
      width: rem(32);
      height: rem(32);
      background: url('../../asset/images/main/arrow.png') 0 0 no-repeat;
      background-size: contain;
    }
  }
  strong {display: block; margin-bottom: rem(4); white-space: nowrap;}
  em {font-size: rem(14); color:$gColor3;}

  @include desktop {
    width: 50%;
    span {position: relative;}
    span:before {top: rem(16);}
  }
  @include tablet-desktop {
    li {padding: 0 rem(8);}
    img {float: left; max-width: 40%;}
    span {margin-left: 40%; padding-bottom: 0;}
    span:before {bottom: rem(16);}
  }
  @include tablet {
    span {padding: rem(16) rem(5) rem(16) rem(16);}
  }
  @include tablet-mobile {
    img {float: none; max-width: 100%;}
    span {margin-left: 0;}
  }
  @include mobile {
    li {width: 100%;}
    li + li {margin-top: rem(16);}
    span {padding: rem(24);}
  }
}
.news-and-online {
  @include clearfix;
  dl {float: left; width: 50%; margin-top: rem(32);}
  dt {
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 16px;
      margin: rem(12) 0 rem(15);
      background: $gColor1;
    }
  }
  dd + dd {margin-top: rem(8);}
  em {font-size: rem(18); font-weight: 500;}
  a {font-size: rem(14); color: $gColor3; display: block; @include ellipsis;}

  @include desktop {
    position: absolute; right: 0; bottom: 0; width: 50%;
    dl {
      padding: 0 rem(22) rem(5) rem(32);
      &:nth-of-type(2) {padding-right: 0; border-left: 1px solid $gColor5;}
    }
  }
  @include tablet-desktop {
    border-width: 0;
    dl {padding: 0 rem(8) rem(5);}
  }
  @include mobile {
    dl {float: none; width: auto;}
  }
}

/* 카테고리 설정 */
.category-info-sec {
  @include clearfix;
  position: relative;
}
.category-tabs {
  span {font-size: rem(18); font-weight: 500; vertical-align: middle;}
  li {
    position: relative;
    border-bottom: 1px solid $gColor5;
    padding : rem(22) rem(14);
    outline: none;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: rem(54);
      height: rem(50);
      margin-right: rem(8);
      background: url('../../asset/images/main/tabs_icon.png') 50% no-repeat;
      background-size: contain;
      vertical-align: middle;
    }
    &.active {
      border-bottom-color: $gColor1;
      &:before {
        background-image: url('../../asset/images/main/tabs_icon_active.png');
      }
    }
    &:nth-of-type(1) {
      &:before {background-image: url('../../asset/images/main/tabs_icon1.png');}
      &.active:before {background-image: url('../../asset/images/main/tabs_icon1_active.png');}
    }
    &:nth-of-type(2) {
      &:before {background-image: url('../../asset/images/main/tabs_icon2.png');}
      &.active:before {background-image: url('../../asset/images/main/tabs_icon2_active.png');}
    }
    &:nth-of-type(3) {
      &:before {background-image: url('../../asset/images/main/tabs_icon3.png');}
      &.active:before {background-image: url('../../asset/images/main/tabs_icon3_active.png');}
    }
    &:nth-of-type(4) {
      &:before {background-image: url('../../asset/images/main/tabs_icon4.png');}
      &.active:before {background-image: url('../../asset/images/main/tabs_icon4_active.png');}
    }
    &:nth-of-type(5) {
      &:before {background-image: url('../../asset/images/main/tabs_icon5.png');}
      &.active:before {background-image: url('../../asset/images/main/tabs_icon5_active.png');}
    }
  }
  @include tablet-desktop {
    li {
      padding : rem(13) 0;
    }
  }
  @include tablet-better {
    float: left; width: 26.65%; padding-right: rem(32);
    li {
      &.active {
        &:after {
          content: '';
          position: absolute;
          bottom: -1px;
          right: 0;
          width: 10px;
          height: 10px;
          background: url('../../asset/images/main/tabs_line.png') 50% no-repeat;
        }
      }
    }
  }
  @include tablet {
    ul {display: table; table-layout: fixed; width: 100%;}
    li {
      display: table-cell;
      text-align: center;
      &:before {
        width: rem(36);
        height: rem(34);
        margin: 0 0 rem(5);
      }
      &.active {
        border-bottom-width: 2px;
      }
    }
    span {display: block;}
  }
  @include tablet {
    ul {display: table; table-layout: fixed; width: 100%;}
    li {
      display: table-cell;
      text-align: center;
      padding: 0 0 rem(10);
      &:before {
        width: rem(36);
        height: rem(34);
        margin: 0 0 rem(5);
      }
    }
    span {font-size: rem(15);}
  }
}
.category-detail {
  .thum {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 40%;
    background: $gColor5 50% no-repeat;
    background-size: cover;
  }
  .info {
    padding: rem(25) 0 0;
    > * {display: block;}
    span {color: $color1; font-size: rem(18); margin-bottom: rem(20, 18);}
    strong {font-size: rem(46);}
    em {font-size: rem(18); margin-top: rem(9, 18);}
    p {
      color: $gColor3;
      margin: rem(36) 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: rem(10);
        right: 100%;
        margin-right: 10px;
        height: rem(4);
        width: rem(160);
        background: $gColor1;
      }
    }
  }
  @include tablet-desktop {
    .info {
      padding-top: 0;
      span {margin: 0;}
    }
  }
  @include tablet-better {
    margin-left: 26.65%;
    .info {
      padding-left: 65%;
    }
  }
  @include tablet {
    position: relative;
    margin-top: rem(24);
    .info {
      max-width: 550px;
      padding: 0 0 0 50%;
    }
  }
  @include mobile {
    .thum {display: none;}
    .info {padding: 0;
      em br {display: none;}
      p {margin: rem(20) 0;}
      p:before {display: none;}
    }
  }
}

/* 기타 */
.etc-category-sec {
  @include clearfix;
  ul {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  li {
    display: table-cell;
    background: $gColor1 50% no-repeat;
    background-size: cover;
    &:nth-of-type(1) {
      background-image: url('../../asset/images/main/etc_category1.jpg');
    }
    &:nth-of-type(2) {
      background-image: url('../../asset/images/main/etc_category2.jpg');
    }
    &:nth-of-type(3) {
      background-image: url('../../asset/images/main/etc_category3.jpg');
    }
  }
  a {
    display: block;
    color: $gColor2;
    text-align: center;
    padding: rem(111) 0 rem(137);
  }
  strong {
    display: inline-block;
    width: rem(200, 32);
    font-size: rem(32);
    font-weight: 400;
    padding-bottom: rem(22, 32);
    border-bottom: 2px solid $gColor2;
  }
  p {
    font-size: rem(14);
    margin-top: rem(22, 14);
  }
  @include tablet-desktop {
    a {
      padding: rem(50) 0;
    }
    strong {
      width: auto;
      font-size: rem(24);
      padding-bottom: rem(15, 24);
    }
    p {
      margin-top: rem(15, 14);
    }
  }
  @include mobile {
    ul, li {
      display: block;
    }
    a {
      padding: rem(50) 0;
    }
    strong {
      width: auto;
      font-size: rem(27);
      padding-bottom: rem(15, 27);
    }
  }
}
