@charset "UTF-8";

.path-sec {
  border: solid $gColor5;
  border-width: 1px 0;
  @include clearfix;

  a, em {
    font-size: rem(15);
    @include ellipsis;
  }

  .inner {
    margin: 0 auto;
  }

  .boxes {
    display: inline-flex;
    max-width: 720px;
    border: solid $gColor5;
    border-width: 0 1px;
    white-space: nowrap;
    align-items: center;
  }

  .home {
    width: rem(60);
    text-align: center;

    em {
      margin-left: rem(8);
    }
  }

  dl {
    border-left: 1px solid $gColor5;
    width: rem(190);
    position: relative;
    cursor: pointer;

    &.is-open dd {
      display: block;
    }
  }

  dt, dd {
    em, a {
      padding-left: rem(20);
      padding-right: rem(20);
    }
  }

  dt {
    padding: rem(20) rem(20) rem(18) 0;
    position: relative;

    em {
      display: block;
    }

    .fas {
      position: absolute;
      right: rem(18);
      top: 50%;
      margin-top: rem(-6);
    }
  }

  dd {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    min-width: calc(100% + 2px);
    border: 1px solid $gColor5;
    background: $gColor2;
    z-index: 10;

    a {
      display: block;
      padding-top: rem(10);
      padding-bottom: rem(10);
    }

    &.disabled {
      display: none !important;
    }

    .act {
      display: none;
    }

    p {
      border-top: 1px solid $gColor5;
      margin-top: -1px;
    }
  }

  @include tablet {
    .inner {
      margin: 0 -1px;
      padding: 0;
    }
    .boxes {
      width: 100%;
      max-width: 520px;
    }

    .home {
      width: rem(50);
      flex: 0 1 auto;

      em {
        display: none;
      }
    }

    dl {
      width: auto;
      flex: 1 0 auto;
    }

    dt, dd {
      em, a {
        padding-left: rem(12);
        padding-right: rem(12);
      }
    }

    dt {
      padding: rem(13) rem(20) rem(11) 0;

      .fas {
        right: rem(8);
      }
    }

    dd {
      max-width: 100%;
    }
  }
}
