@charset "UTF-8";

.path-sec {
  border: solid $gColor5;
  border-width: 1px 0;
  @include clearfix;

  a, em {
    font-size: em(15);
  }

  .boxes {
    display: table;
    max-width: 720px;
    border: solid $gColor5;
    border-width: 0 1px;
    white-space: nowrap;
    .home, dl {
      display: table-cell;
    }
  }
  dl {
    border-left: 1px solid $gColor5;
    width: em(190);
    position: relative;
    cursor: pointer;
    &.is-open {
      dd {display: block;}
    }
  }
  dt {
    padding: em(20) em(30) em(18) em(20);
    position: relative;
    em {
      display: block;
      @include ellipsis;
    }
    .fas {
      position: absolute;
      right: em(18);
      top: 50%;
      margin-top: em(-6);
    }
  }
  dd {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    border: 1px solid $gColor5;
    background: $gColor2;
    z-index: 10;
    a {
      display: block;
      padding: em(10) em(30) em(8) em(20);
    }
    &.disabled {
      display: none !important;
    }
    .act {
      display: none;
    }
    p {
      border-top: 1px solid $gColor5;
      margin-top: -1px;
    }
  }
  .home {
    width: em(60);
    text-align: center;
    em {
      margin-left: em(8);
    }
  }

  @include tablet-desktop {
    .inner {
      padding: 0;
      margin: 0 -1px;
    }
    dl, span {
      float: none;
      display: table-cell;
      border-width: 0;
    }
    dl {
      border-width: 0 0 0 1px;
      &:last-child {
        border-right-width: 1px;
      }
    }
  }
  @include tablet {
    .boxes {
      width: 100%;
      max-width: 520px;
      table-layout: fixed;
    }
    dl {
      width: auto;
    }
    dt {
      padding: em(14) em(24) em(11) em(10);
      .fas {
        right: em(10);
      }
    }
    .home em {
      display: none;
    }
  }
  @include mobile {
    .home {
      width: em(40);
    }
    dd {
      margin-top: -1px;
      a {
        padding-left: em(10);
        padding-right: em(10);
      }
    }
  }
}
